
.status-badge {
    text-transform: uppercase;
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.badge {

    &-new {
        background: #B3E5FC;
        color: #23547B;
    }

    &-processing {
        background: #FEEDAF;
        color: #8A5340;

    }

    &-finished {
        background: #C8E6C9;
        color: #256029;
    }
}
